@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @aria_label = "Checkout address and payment form" })) {
    
    <h2>Address And Payment</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger", role = "alert" })
    <fieldset>
        <legend>Shipping Information</legend>

        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>We're running a promotion: all music is free with the promo code: "FREE"</p>

        <div class="editor-label">
            @Html.Label("PromoCode", "Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode", null, new { @autocomplete = "off" })
        </div>
    </fieldset>
    
    <input type="submit" value="Submit Order" />
}