@if (ViewBag.CartCount > 0)
{
    <li class="cart-nav-item">
        <a href="@Url.Action("Index", "ShoppingCart")" title="@ViewBag.CartSummary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Cart (@ViewBag.CartCount)
        </a>
    </li>
}
