@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @await Html.PartialAsync("_ChangePasswordPartial")
        }
        else
        {
            @await Html.PartialAsync("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @await Html.PartialAsync("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>

        <hr />
        <section id="emailPreferences">
            <h4>Email preferences</h4>
            <p>Manage order receipts, cart reminders, and newsletter subscriptions.</p>
            <a class="btn btn-default" href="@Url.Action("EmailPreferences", "Account")">Manage email preferences</a>
        </section>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
