@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Store";
}
<h1>Browse Genres</h1>

<p>
    Select from @Model.Count() genres:
</p>
<ul class="list-group" aria-label="Music genres">
    @foreach (var genre in Model)
    {
        <li class="list-group-item">@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>
