@model MvcMusicStore.ViewModels.BundleEditViewModel
@{
    ViewBag.Title = "Create bundle";
}

<h2>Create bundle</h2>

@using (Html.BeginForm("Create", "BundleManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <partial name="_BundleForm" model="Model" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create bundle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
